<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Getting Started: Serving Web Content</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
</head>
<body>
    <div>
        <h1 th:inline="text">Hello [[${#httpServletRequest.remoteUser}]]!</h1>
        <form th:action=@{logout} method="post">
            <input type="submit" value="Sign Out"/>
        </form>
    </div>
    <div>
        <form th:action="main" method="post">
            <input type="text" name="tag" placeholder="Pleas enter Tag:">
            <input type="text" name="text" placeholder="Pleas enter Text:">
            <button type="submit">Add</button>
        </form>
    </div>

    <div>Список пользователей</div>
    <div>
        <form method="post" th:action="filter">
            <input type="text" name="tag">
            <button type="submit">Find</button>
        </form>
        <div th:each="el : ${byTag}">
            <a3 th:text="${el.tag}"></a3>
        </div>
    </div>
    <div th:each="el : ${messages}">
        <b th:text="${el.tag}"></b>
        <b th:text="${el.text}"></b>
        <strong th:text="${el.authorName}"></strong>
    </div>
</body>
</html>